/*Stylesheet for Main*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.inputContainer {
    padding: 20px;
    border: 1px solid black;
    width: 700px;
}

.cvInputForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.addBtn {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px 0;
    background-color: rgb(51, 51, 51);
    color: white;

    border: none;
    border-radius: 5px;
}
